html,body {
		margin: 0;
		padding: 0;
		min-width: 100% !important;
		min-height:100% !important;
		display:flex;

}

.fixed {
	flex:1;
}
.kiri {
	position: sticky;
	background: #FFE886;
	color: white;
	left: 0px;
	top: 0px;
	padding-top: 10px;
	height:100vh;
	flex:0.5;
}

.scrolled {
	max-height:100vh;
	overflow-y: scroll;
}

.greeting {
	color: #FFFFFF;
	-webkit-text-stroke: 1px black;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	font-family: Arima Madurai, cursive;
	font-style: normal;
	margin-top: 10px;
	margin-left: 15px;
	text-align:center;
  	font-size: 60px;
  	width: 300px;
  	height: 60px;

}

.profpic {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	width: 200px;
	border:3px solid white;
	border-radius: 50%;
}

.name {
	font-family: Arima Madurai, cursive;
	color: black;
	text-align: center;
	font-size: 30px;
	font-weight: bold; 
	letter-spacing: 10px;
	margin-bottom: 15px;
}

.aboutme {
	font-family: Arima Madurai, cursive;
	color: black;
	margin-bottom: 10px;
	margin-left: 100px;
	margin-right: 100px;
	text-align: center;
	font-size: 25px;
	border-bottom: 1px solid white;
}

.aboutmetext{
	color: black;
	font-family: Arima Madurai, cursive;
	padding-right: 25px;
	padding-left: 25px; 
 	margin-left: 20px;
	margin-right: 20px;
	text-align: center;
	font-size: 15px;
}

.sticky-top{
	white-space:nowrap;
	align-items:center;
	vertical-align: middle;
	background: #f8f8f8;
}

.sosmed{
	margin-right: 100px;
	display: inline-block;

	font-size: 30px;	
}

.insta, .fb, .line, .linkedin{
	margin-left: 10px;
	margin-right: 10px;
	width: 40px;
	vertical-align: middle;
}

.quicknavbutton{
	color: white !important;
	display: inline-block;
	margin-left: 300px;
	margin-bottom: 5px;
	font-size: 30px;	
}

.link{
	color:white;
	text-decoration: none; 
	background-color: none;
}

.profile{

	display: flex;
	top: 0px;
	background: #B86229;
	height:320px;
	flex-direction: column;
}

.proftitle{
	flex-wrap: nowrap; 
    height:fit-content;
	margin-top : 15px;
	color: white;
	font-size: 60px;
	margin-left:20px;
	
}

.border-left{
  border-color: black !important;
  border-width: 3px !important;
 }

.container {
	font-size: 30px;
	padding :0;
}

.row-fluid{
	display: flex;
}

.proftext:nth-child(odd){
	padding-right: 50px;
	border-right: 5px solid #ccc;
}


.proftext:nth-child(even){
	margin-left: 50px; 
	padding-right: 50px;
}

.profexp{
	padding-right: 50px;
	font-size: 25px;
}

.kanan {
	display:flex;
	flex-direction: column;
	flex:6;
}

.proftext{
	margin-left: 50px; 
	padding-right: 50px;
}

.basket{
	border: 3px solid black;
	width: 400px;
	
}


.funfact{
	margin: 20px;
	font-size:15px; 
	font-family: Arima Madurai, cursive;
	text-align : justify;
}

.back {
	margin-left: 400px;
}

.music {
	vertical-align: center;
}

.koreaboo {
	border: 3px solid black;
	width: 400px;
	height: 230px;
}
